<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homecook.android.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.MainActivity"/>
        <activity android:name=".entry.EntryActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".feed.FeedActivity" />
        <activity android:name=".auth.login.GoogleSignInActivity" />
        <activity android:name=".auth.login.forgot_password.ForgotPasswordActivity" />
        <service
            android:name=".messaging.HomecookMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="14cda500a3a77d438e50fa9e2914546d3fbbb8a6" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>